# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea


*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric run dirs; we upload mod dir, options and logs to GH.

run/.fabric
run/config
run/data
run/patchouli_books
run/resourcepacks
run/resources
run/saves
run/patchouli_data.json
run/usercache.json

# other crap you wouldn´t like

*.properties
.obsidian/
*.lock